In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
df = pd.read_csv('Train_Dataset.csv')

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\308385322.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Train_Dataset.csv')

In [3]:
df

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [4]:
data = pd.read_csv('Train_Dataset.csv')

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\2254358017.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Train_Dataset.csv')

In [5]:
data

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [6]:
column_names = data.columns.tolist()

# Print the list of column names
print(column_names)
print(len(column_names))

['ID', 'Client_Income', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own', 'Child_Count', 'Credit_Amount', 'Loan_Annuity', 'Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Population_Region_Relative', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days', 'Own_House_Age', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working', 'Client_Occupation', 'Client_Family_Members', 'Cleint_City_Rating', 'Application_Process_Day', 'Application_Process_Hour', 'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Type_Organization', 'Score_Source_1', 'Score_Source_2', 'Score_Source_3', 'Social_Circle_Default', 'Phone_Change', 'Credit_Bureau', 'Default']
40

In [7]:
['ID', 'Client_Income', 'Active_Loan', 'Credit_Amount', 'Loan_Annuity', 'Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days', 'Mobile_Tag', 'Homephone_Tag', 'Client_Family_Members', 'Cleint_City_Rating', 'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Type_Organization', 'Score_Source_2', 'Phone_Change', 'Default']

['ID',
 'Client_Income',
 'Active_Loan',
 'Credit_Amount',
 'Loan_Annuity',
 'Accompany_Client',
 'Client_Income_Type',
 'Client_Education',
 'Client_Gender',
 'Loan_Contract_Type',
 'Client_Housing_Type',
 'Age_Days',
 'Employed_Days',
 'Registration_Days',
 'ID_Days',
 'Mobile_Tag',
 'Homephone_Tag',
 'Client_Family_Members',
 'Cleint_City_Rating',
 'Client_Permanent_Match_Tag',
 'Client_Contact_Work_Tag',
 'Type_Organization',
 'Score_Source_2',
 'Phone_Change',
 'Default']

In [8]:
#-----------------------------------------------------------------------------------------------EXPLORATION OF COLUMN


a = 'Accompany_Client'
data[a].describe()

count     120110
unique         7
top        Alone
freq       97409
Name: Accompany_Client, dtype: object

In [9]:
#----------------------------------------------------------------------------------------------------STRING DITECTOR


try:
    # Attempt to convert the column to float
    data[a] = data[a].astype(float)
except ValueError as e:
    print(f"Error in column '{a}': {e}")

Error in column 'Accompany_Client': could not convert string to float: 'Alone'

In [10]:
#FREQUENCY OF ENTITY


data[a].value_counts()/data[a].count()*100

Alone       81.099825
Relative    13.111315
Partner      3.759887
Kids         1.110649
Others       0.821747
Group        0.086587
##           0.009991
Name: Accompany_Client, dtype: float64

In [11]:
#--------------------------------------------------------------------------------------------Replace with 'Others' 

weightage = {
    'Missing': 33.951241,
    'Laborers': 17.263978,
    'Sales': 9.982024,
    'Core': 8.696588,
    'Managers': 6.659364,
    'Drivers': 5.859828,
    'High skill tech': 3.573569,
    'Accountants': 3.147586,
    'Medicine': 2.559637,
    'Security': 2.204808,
    'Cooking': 1.802232,
    'Cleaning': 1.409954,
    'Private service': 0.825750,
    'Low-skill Laborers': 0.643186,
    'Secretaries': 0.433472,
    'Waiters/barmen': 0.421301,
    'Realty agents': 0.231247,
    'HR': 0.171329,
    'IT': 0.162903
}

# Define a threshold percentage (4% in this case)
threshold_percentage = 4.0

# Calculate the total weightage
total_weightage = sum(weightage.values())

# Iterate through unique values and categorize them into 'Others' if they have a weightage less than the threshold
for key, value in weightage.items():
    if (value / total_weightage) < (threshold_percentage / 100):
        data['Client_Occupation'] = data['Client_Occupation'].replace(key, 'Others')

In [12]:
value_counts = data['Type_Organization'].value_counts(normalize=True) * 100

# Set a threshold (5%)
threshold = 5

# Categorize values with less than the threshold as 'Others'
data['Type_Organization'] = data['Type_Organization'].apply(
    lambda x: x if value_counts.get(x, 0) >= threshold else 'Others'
)

In [13]:
#----------------------------------------------------------------------------------------REPLACE WITH MEDIAN

median_score_source_2 = data['Score_Source_2'].median()

data['Score_Source_2'].fillna(median_score_source_2, inplace=True)

In [14]:
#SPLITING BY 1/2 ------------------------------------------------------------------------ BAD APPROCH



num_nulls = data['Client_Marital_Status'].isnull().sum()
num_to_fill = num_nulls // 2  # Half of the null values

# Use the fillna method to fill half of the nulls with 'Yes'
data['Client_Marital_Status'].fillna('M', limit=num_to_fill, inplace=True)

# Now, fill the remaining nulls with 'No'
data['Client_Marital_Status'].fillna('S', inplace=True)

In [15]:
#------------------------------------------------------------------------------------------------FILLNA

data['Client_Education']= data['Client_Education'].fillna('Secondary')
data['Accompany_Client']= data['Accompany_Client'].fillna('Others')
data['Client_Gender']= data['Client_Gender'].fillna('XNA')
data['Client_Family_Members']= data['Client_Family_Members'].fillna(2.0)
data['Cleint_City_Rating']= data['Cleint_City_Rating'].fillna(2.0)
data['Car_Owned']= data['Car_Owned'].fillna(0.0)
data['Bike_Owned']= data['Bike_Owned'].fillna(0.0)
data['Client_Housing_Type']= data['Client_Housing_Type'].fillna('Home')
data['Loan_Contract_Type']= data['Loan_Contract_Type'].fillna('CL')
data['Age_Days']= data['Age_Days'].fillna(16024)
data['Employed_Days']= data['Employed_Days'].fillna(66941)
data['Credit_Amount']= data['Credit_Amount'].fillna(60044.309118)
data['Client_Occupation']= data['Client_Occupation'].fillna('Missing')
data['Loan_Annuity']= data['Loan_Annuity'].fillna(2719.927838)
data['Client_Income']= data['Client_Income'].fillna(16878.08)
data['Credit_Amount']= data['Credit_Amount'].fillna(60062.026817)

In [16]:
#---------------------------------------------------------------------------------------------REPLACE

data['Accompany_Client'].replace({'##': 'Others'}, inplace=True)
data['Age_Days'].replace('x', np.nan, inplace=True)
data['Employed_Days'].replace('x', np.nan, inplace=True)
data['Credit_Amount'].replace('$', np.nan, inplace=True)
data['Loan_Annuity'].replace('#VALUE!', np.nan, inplace=True)
data['Client_Income'].replace('$', np.nan, inplace=True)

In [17]:
#--------------------------------------------------------------------------------------------DROPNA

data = data.dropna(subset=['Client_Income'])
data = data.dropna(subset=['Loan_Annuity'])
data = data.dropna(subset=['Client_Income_Type'])
data = data.dropna(subset=['Active_Loan'])
data = data.dropna(subset=['House_Own'])
data = data.dropna(subset=['Child_Count'])
data = data.dropna(subset=['Credit_Amount'])

data = data.dropna(subset=['Age_Days'])
data = data.dropna(subset=['Employed_Days'])



data = data.dropna(subset=['Phone_Change'])

#---------------------------------------------FOR MORE 

'''
data = data.dropna(subset=[''])
data = data.dropna(subset=[''])
data = data.dropna(subset=[''])
'''

"\ndata = data.dropna(subset=[''])\ndata = data.dropna(subset=[''])\ndata = data.dropna(subset=[''])\n"

In [18]:
#----------------------------------------------------------------------------------FILL BY WEIGHTAGE




weightage = {
    0.0: 27.162527,
    1.0: 23.797737,
    2.0: 18.927908,
    3.0: 12.658018,
    4.0: 7.719678,
    5.0: 4.507382,
    6.0: 2.600115,
    7.0: 1.385697,
    8.0: 0.794510,
    9.0: 0.396703,
    10.0: 0.011050,
    11.0: 0.009945,
    12.0: 0.002210,
    13.0: 0.005525,
    14.0: 0.006630,
    15.0: 0.003315,
    16.0: 0.001105,
    17.0: 0.002210,
    19.0: 0.004420,
    21.0: 0.002210,
    22.0: 0.001105
}

num_nulls = data['Credit_Bureau'].isnull().sum()

#total weightage
total_weightage = sum(weightage.values())


allocated_nulls = {}

for key, value in weightage.items():
    allocated_nulls[key] = int(num_nulls * (value / total_weightage))


for key, num_to_distribute in allocated_nulls.items():
    if num_to_distribute > 0:
        data['Credit_Bureau'].fillna(key, limit=num_to_distribute, inplace=True)

mode_value = data['Credit_Bureau'].mode().values[0]
data['Credit_Bureau'].fillna(mode_value, inplace=True)

In [19]:
weightage = {
    0.0: 70.068856,
    1.0: 19.820163,
    2.0: 8.707642,
    3.0: 1.209630,
    4.0: 0.141264,
    5.0: 0.028760,
    6.0: 0.010151,
    7.0: 0.003384,
    14.0: 0.003384,
    10.0: 0.002538,
    8.0: 0.001692,
    19.0: 0.000846,
    12.0: 0.000846,
    9.0: 0.000846
}


# Calculate the null count
num_nulls = data['Child_Count'].isnull().sum()

# Calculate the total weightage
total_weightage = sum(weightage.values())

# Initialize a dictionary to keep track of how many nulls should be allocated to each unique value based on their weightage
allocated_nulls = {}

# Calculate how many nulls should be allocated to each unique value
for key, value in weightage.items():
    allocated_nulls[key] = int(num_nulls * (value / total_weightage))

# Distribute null values in the 'Child_Count' column based on weightage
for key, num_to_distribute in allocated_nulls.items():
    if num_to_distribute > 0:
        data['Child_Count'].fillna(key, limit=num_to_distribute, inplace=True)

In [20]:
def get_integers(values):
    vals = []
    for v in values:
        try:
            vals.append(int(v))
        except:
            vals.append(np.nan)
    return vals

def fix_value_by_map(current_value, default, value_map):
    if str(current_value) == 'nan':
        return value_map[default]
    else:
        return current_value


#fix Registration_Days
data['Registration_Days'] = get_integers(data.Registration_Days)

# map missing Registration Days by 'default' column
value_map = data.groupby('Default').median()['Registration_Days']
data['Registration_Days'] = data.apply(lambda row : fix_value_by_map(row['Registration_Days'], row['Default'], value_map), axis=1)

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\1289576524.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').median()['Registration_Days']

In [21]:
#fix ID_Days
data['ID_Days'] = get_integers(data.ID_Days)
        
# map missing Id Days by 'default' column
value_map = data.groupby('Default').median()['ID_Days']
data['ID_Days'] = data.apply(lambda row : fix_value_by_map(row['ID_Days'], row['Default'], value_map), axis=1)

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\1024963727.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').median()['ID_Days']

In [22]:
# fix Application_Process_Day

value_map = data.groupby('Default').median()['Application_Process_Day']

data['Application_Process_Day'] = data.apply(lambda row : fix_value_by_map(row['Application_Process_Day'], row['Default'], value_map), axis=1)
# fix Application_Process_Hour

value_map = data.groupby('Default').median()['Application_Process_Hour']

data['Application_Process_Hour'] = data.apply(lambda row : fix_value_by_map(row['Application_Process_Hour'], row['Default'], value_map), axis=1)

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\2797561129.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').median()['Application_Process_Day']
C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\2797561129.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').median()['Application_Process_Hour']

In [23]:

def get_floats(values):
    vals = []
    for v in values:
        try:
            vals.append(float(v))
        except:
            vals.append(np.nan)
    return vals

In [24]:
# fix Population_Region_Relative
data['Population_Region_Relative'] = get_floats(data.Population_Region_Relative)

encoder = LabelEncoder()

data.Population_Region_Relative = encoder.fit_transform(data.Population_Region_Relative)

In [44]:
# fix Social_Circle_Default
value_map = data.groupby('Default').mean()['Social_Circle_Default']

data['Social_Circle_Default'] = data.apply(lambda row : fix_value_by_map(row['Social_Circle_Default'], row['Default'], value_map), axis=1)

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\1948904726.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').mean()['Social_Circle_Default']

In [63]:
#fix Score_Source_1

data['Score_Source_1'] = get_floats(data.Score_Source_1)

value_map = data.groupby('Default').median()['Score_Source_1']

data['Score_Source_1'] = data.apply(lambda row : fix_value_by_map(row['Score_Source_1'], row['Default'], value_map), axis=1)

C:\Users\pahar\AppData\Local\Temp\ipykernel_13960\1579780804.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  value_map = data.groupby('Default').median()['Score_Source_1']

In [64]:
#fix Score_Source_3

data['Score_Source_3'] = get_floats(data.Score_Source_3)

value_map = data.groupby('Default').median()['Score_Source_3']

data['Score_Source_3'] = data.apply(lambda row : fix_value_by_map(row['Score_Source_3'], row['Default'], value_map), axis=1)

In [65]:
#----------------------------------------------------------------------------------------------------NULL CALCULATOR


data.isnull().sum()/len(data)*100

ID                             0.000000
Client_Income                  0.000000
Car_Owned                      0.000000
Bike_Owned                     0.000000
Active_Loan                    0.000000
House_Own                      0.000000
Child_Count                    0.000000
Credit_Amount                  0.000000
Loan_Annuity                   0.000000
Accompany_Client               0.000000
Client_Income_Type             0.000000
Client_Education               0.000000
Client_Marital_Status          0.000000
Client_Gender                  0.000000
Loan_Contract_Type             0.000000
Client_Housing_Type            0.000000
Population_Region_Relative     0.000000
Age_Days                       0.000000
Employed_Days                  0.000000
Registration_Days              0.000000
ID_Days                        0.000000
Own_House_Age                 65.744779
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Occupation              0.000000
Client_Family_Members          0.000000
Cleint_City_Rating             0.000000
Application_Process_Day        0.000000
Application_Process_Hour       0.000000
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
Type_Organization              0.000000
Score_Source_1                 0.000000
Score_Source_2                 0.000000
Score_Source_3                 0.000000
Social_Circle_Default          0.000000
Phone_Change                   0.000000
Credit_Bureau                  0.000000
Default                        0.000000
dtype: float64

In [66]:
#------------------------------------------------------------------------------LOSS OF DATA


(df['ID'].count() - data['ID'].count()) / df['ID'].count() *100

14.187237394957982

In [67]:
#------------------------------------------------------------------------------STRING FINDER IN COLUMN



for column in data.columns:
    try:
        # Attempt to convert the column to float
        data[column] = data[column].astype(float)
    except ValueError as e:
        print(f"Error in column '{column}': {e}")

In [68]:
#---------------------------------------------------------------------------COLUMN WITH STRING



string_columns = data.select_dtypes(include=['object']).columns.tolist()

print("List of string column names:")
print(string_columns)

List of string column names:
[]

In [69]:
#------------------------------------------------------------------------------- STRING COLUMN ENCODING





columns_to_encode = ['Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Client_Occupation', 'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Type_Organization']

# Create a LabelEncoder instance for each specified column
label_encoders = {}

for column in columns_to_encode:
    if column in data.columns and data[column].dtype == 'object':
        label_encoder = LabelEncoder()
        data[column] = label_encoder.fit_transform(data[column])
        unique_labels = label_encoder.classes_
        label_mapping = {label: value for label, value in zip(unique_labels, range(len(unique_labels)))}
        label_encoders[column] = label_encoder

# Print the unique numerical values and their corresponding labels for each encoded column
for column, label_encoder in label_encoders.items():
    unique_labels = label_encoder.classes_
    label_mapping = {label: value for label, value in zip(unique_labels, range(len(unique_labels)))}
    print(f"Column: {column}")
    print(label_mapping)

In [70]:
data['Type_Organization'].unique()

array([3., 4., 0., 1., 2.])

In [71]:
data

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509.0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,0.0,...,1.0,1.0,3.0,0.568066,0.478787,0.546023,0.01860,63.0,0.0,0.0
2,12181264.0,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,0.0,...,1.0,1.0,3.0,0.516378,0.552795,0.329655,0.07420,277.0,0.0,0.0
3,12188929.0,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,0.0,...,1.0,1.0,4.0,0.516378,0.135182,0.631355,0.11869,1700.0,3.0,0.0
4,12133385.0,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,0.0,...,1.0,1.0,0.0,0.508199,0.301182,0.355639,0.20210,674.0,1.0,0.0
5,12191614.0,11250.0,0.0,1.0,1.0,1.0,1.0,13752.00,653.85,0.0,...,1.0,1.0,1.0,0.516378,0.697928,0.420611,0.06390,739.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121850,12136406.0,12150.0,0.0,0.0,1.0,0.0,0.0,78192.00,2383.65,0.0,...,1.0,1.0,4.0,0.516378,0.678249,0.283712,0.05150,1581.0,2.0,0.0
121852,12173765.0,15750.0,0.0,1.0,1.0,0.0,0.0,104256.00,3388.05,0.0,...,1.0,1.0,3.0,0.516378,0.371559,0.406617,0.08250,4.0,0.0,0.0
121853,12103937.0,8100.0,0.0,1.0,0.0,1.0,1.0,55107.90,2989.35,0.0,...,0.0,0.0,2.0,0.169049,0.048079,0.546023,0.11869,0.0,0.0,0.0
121854,12170623.0,38250.0,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,0.0,...,1.0,1.0,0.0,0.182737,0.103538,0.077499,0.09790,0.0,2.0,0.0
121855,12105610.0,9000.0,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,0.0,...,1.0,1.0,0.0,0.516378,0.556414,0.298595,0.10310,805.0,0.0,0.0

In [72]:
#----------------------------------------------------------------------------- NUMERICAL COLUMN FINDER




numeric_column_names = [col for col in data.columns if data[col].dtype in ['int64', 'float64']]

print(numeric_column_names)

['ID', 'Client_Income', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own', 'Child_Count', 'Credit_Amount', 'Loan_Annuity', 'Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Population_Region_Relative', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days', 'Own_House_Age', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working', 'Client_Occupation', 'Client_Family_Members', 'Cleint_City_Rating', 'Application_Process_Day', 'Application_Process_Hour', 'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Type_Organization', 'Score_Source_1', 'Score_Source_2', 'Score_Source_3', 'Social_Circle_Default', 'Phone_Change', 'Credit_Bureau', 'Default']

In [73]:
len(['ID', 'Client_Income', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own', 'Child_Count', 'Credit_Amount', 'Loan_Annuity', 'Population_Region_Relative', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days', 'Own_House_Age', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working', 'Client_Family_Members', 'Cleint_City_Rating', 'Application_Process_Day', 'Application_Process_Hour', 'Score_Source_1', 'Score_Source_2', 'Social_Circle_Default', 'Phone_Change', 'Credit_Bureau', 'Default'])

28

In [74]:
#------------------------------------------------------------------- NUMERICAL COLUMN WITHOUT NULL




numeric_no_null_columns = [col for col in data.columns if data[col].dtype in ['int64', 'float64'] and data[col].notnull().all()]


print(numeric_no_null_columns)

['ID', 'Client_Income', 'Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own', 'Child_Count', 'Credit_Amount', 'Loan_Annuity', 'Accompany_Client', 'Client_Income_Type', 'Client_Education', 'Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type', 'Client_Housing_Type', 'Population_Region_Relative', 'Age_Days', 'Employed_Days', 'Registration_Days', 'ID_Days', 'Mobile_Tag', 'Homephone_Tag', 'Workphone_Working', 'Client_Occupation', 'Client_Family_Members', 'Cleint_City_Rating', 'Application_Process_Day', 'Application_Process_Hour', 'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'Type_Organization', 'Score_Source_1', 'Score_Source_2', 'Score_Source_3', 'Social_Circle_Default', 'Phone_Change', 'Credit_Bureau', 'Default']

In [76]:
numeric_no_null_columns

['ID',
 'Client_Income',
 'Car_Owned',
 'Bike_Owned',
 'Active_Loan',
 'House_Own',
 'Child_Count',
 'Credit_Amount',
 'Loan_Annuity',
 'Accompany_Client',
 'Client_Income_Type',
 'Client_Education',
 'Client_Marital_Status',
 'Client_Gender',
 'Loan_Contract_Type',
 'Client_Housing_Type',
 'Population_Region_Relative',
 'Age_Days',
 'Employed_Days',
 'Registration_Days',
 'ID_Days',
 'Mobile_Tag',
 'Homephone_Tag',
 'Workphone_Working',
 'Client_Occupation',
 'Client_Family_Members',
 'Cleint_City_Rating',
 'Application_Process_Day',
 'Application_Process_Hour',
 'Client_Permanent_Match_Tag',
 'Client_Contact_Work_Tag',
 'Type_Organization',
 'Score_Source_1',
 'Score_Source_2',
 'Score_Source_3',
 'Social_Circle_Default',
 'Phone_Change',
 'Credit_Bureau',
 'Default']

In [77]:
len(numeric_no_null_columns)

39

In [78]:
null_check = data[numeric_no_null_columns].info()

# Print the result
print(null_check)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104568 entries, 0 to 121855
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          104568 non-null  float64
 1   Client_Income               104568 non-null  float64
 2   Car_Owned                   104568 non-null  float64
 3   Bike_Owned                  104568 non-null  float64
 4   Active_Loan                 104568 non-null  float64
 5   House_Own                   104568 non-null  float64
 6   Child_Count                 104568 non-null  float64
 7   Credit_Amount               104568 non-null  float64
 8   Loan_Annuity                104568 non-null  float64
 9   Accompany_Client            104568 non-null  float64
 10  Client_Income_Type          104568 non-null  float64
 11  Client_Education            104568 non-null  float64
 12  Client_Marital_Status       104568 non-null  float64
 13  Client_Gender               104568 non-null  float64
 14  Loan_Contract_Type          104568 non-null  float64
 15  Client_Housing_Type         104568 non-null  float64
 16  Population_Region_Relative  104568 non-null  float64
 17  Age_Days                    104568 non-null  float64
 18  Employed_Days               104568 non-null  float64
 19  Registration_Days           104568 non-null  float64
 20  ID_Days                     104568 non-null  float64
 21  Mobile_Tag                  104568 non-null  float64
 22  Homephone_Tag               104568 non-null  float64
 23  Workphone_Working           104568 non-null  float64
 24  Client_Occupation           104568 non-null  float64
 25  Client_Family_Members       104568 non-null  float64
 26  Cleint_City_Rating          104568 non-null  float64
 27  Application_Process_Day     104568 non-null  float64
 28  Application_Process_Hour    104568 non-null  float64
 29  Client_Permanent_Match_Tag  104568 non-null  float64
 30  Client_Contact_Work_Tag     104568 non-null  float64
 31  Type_Organization           104568 non-null  float64
 32  Score_Source_1              104568 non-null  float64
 33  Score_Source_2              104568 non-null  float64
 34  Score_Source_3              104568 non-null  float64
 35  Social_Circle_Default       104568 non-null  float64
 36  Phone_Change                104568 non-null  float64
 37  Credit_Bureau               104568 non-null  float64
 38  Default                     104568 non-null  float64
dtypes: float64(39)
memory usage: 31.9 MB
None

In [82]:
#-------------------------------------------------------------------------------RANDOM FOREST



import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

X = data[numeric_no_null_columns]
X = X.drop(['ID','Default'], axis=1)  


y = data['Default']


smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)


test_size_percentage = 0.050  #----------------------------------------------------------------------------Decreasing this value  a larger training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size_percentage, random_state=42)


model = RandomForestClassifier(n_estimators=100, random_state=42)  
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 98.83342895391088

In [83]:
#-------------------------------------------------------------------------------LOGISTIC REGRESSION

smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

from sklearn.linear_model import LogisticRegression


model = LogisticRegression(max_iter=1000)
model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 91.7766303308472

C:\Users\pahar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [84]:
#-------------------------------------------------------------------------------XG BOOST




import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE


# ------------------------------------------------------------------------------------------------------------- Apply SMOTE
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)


model = XGBClassifier()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 99.41255978373881

In [81]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# Define features and target
X = data[numeric_no_null_columns]
X = X.drop('Default', axis=1)
y = data['Default']

# Handle class imbalance using SMOTE
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build a neural network model
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1],)),  # Input layer
    tf.keras.layers.Dense(64, activation='relu'),     # Hidden layer with 64 units and ReLU activation
    tf.keras.layers.Dense(1, activation='sigmoid')    # Output layer with a sigmoid activation for binary classification
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
y_pred = (model.predict(X_test) > 0.5).astype("int32")
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100}%")

Epoch 1/10
4208/4208 [==============================] - 20s 4ms/step - loss: 0.4229 - accuracy: 0.8240 - val_loss: 0.3373 - val_accuracy: 0.8701
Epoch 2/10
4208/4208 [==============================] - 16s 4ms/step - loss: 0.2794 - accuracy: 0.8929 - val_loss: 0.2437 - val_accuracy: 0.9061
Epoch 3/10
4208/4208 [==============================] - 22s 5ms/step - loss: 0.2164 - accuracy: 0.9144 - val_loss: 0.2081 - val_accuracy: 0.9166
Epoch 4/10
4208/4208 [==============================] - 11s 3ms/step - loss: 0.1939 - accuracy: 0.9226 - val_loss: 0.1922 - val_accuracy: 0.9236
Epoch 5/10
4208/4208 [==============================] - 15s 4ms/step - loss: 0.1825 - accuracy: 0.9264 - val_loss: 0.1837 - val_accuracy: 0.9264
Epoch 6/10
4208/4208 [==============================] - 19s 5ms/step - loss: 0.1736 - accuracy: 0.9301 - val_loss: 0.1816 - val_accuracy: 0.9263
Epoch 7/10
4208/4208 [==============================] - 12s 3ms/step - loss: 0.1663 - accuracy: 0.9331 - val_loss: 0.1737 - val_accuracy: 0.9298
Epoch 8/10
4208/4208 [==============================] - 11s 3ms/step - loss: 0.1604 - accuracy: 0.9355 - val_loss: 0.1680 - val_accuracy: 0.9328
Epoch 9/10
4208/4208 [==============================] - 12s 3ms/step - loss: 0.1557 - accuracy: 0.9376 - val_loss: 0.1698 - val_accuracy: 0.9312
Epoch 10/10
4208/4208 [==============================] - 16s 4ms/step - loss: 0.1520 - accuracy: 0.9389 - val_loss: 0.1716 - val_accuracy: 0.9303
1804/1804 [==============================] - 3s 1ms/step
Accuracy: 93.02510960542048%